<div class="container">

    <ul class="reminders">
        <li *ngFor="let reminder of reminders; let i=index" id="listItem">
          <div class="card-view col-md-6 col-md-offset-1">
             <div class="card" 
              [ngClass]="{'checked' : reminder.completed == 'true' }">    
                <h5 class="card-header col-md-12">
                  <div class="row">
                    <div class="col-md-6">{{reminder.id}} - Client: {{reminder.client}}</div>
                    <div class="col-md-6 col-md-offset-6" id="reminderTime">{{reminder.time}}</div>   
                  </div> 
                </h5>
                
                <div class="card-body">
                  <h5 class="card-title">
                    <div class="row">
                      <div class="col-md-6">Task: {{reminder.task}}</div>
                      <!-- <div class="col-md-6 col-md-offset-6" id="checkDone"> Complete: <input type="checkbox" [(ngModel)]="reminder.completed"> </div>                                         -->

                    </div>
                                        
                  </h5>
                  
                  <p class="card-text"><i>{{reminder.client}}</i> {{reminder.info}} {{reminder.time}}</p>
                  <a href="#" class="btn btn-primary" (click)="delete(reminder.id)">Remove Reminder</a>
                  
                    <!-- <input [(ngModel)]="reminder.completed" placeholder="name"> -->
                    <!-- <button (click)="markCompleted(reminder.id, reminder.completed)">Mark as COMPLETED</button> -->

              
      
                  
                  
                </div>
              </div>
          </div>

        </li>
      </ul>  

<!--Add New Reminders-->

          <div class="card-view col-md-12 col-md-offset-1">
            <div class="card">
                <h5 class="card-header col-md-12">
                 <div class="row">
                   <div class="col-md-6">ID - <input #reminderID placeholder="6"/><label>Client:
                      <input #reminderClient placeholder="Jan"/>
                    </label></div>
                   <div class="col-md-6 col-md-offset-6" id="reminderTime"><input #reminderTime placeholder="07:30 PM"/></div>   
                 </div> 
               </h5>
               
               <div class="card-body">
                 <h5 class="card-title">
                   <div class="row">
                     <div class="col-md-6">Task: <input #reminderTask placeholder="Sporten" /></div>
                     
                     

                   </div>
                   
                 </h5>
                 
                 <p class="card-text"><i>Jan</i> <input #reminderInfo placeholder="moet sporten om" /> 07:30 PM</p>
                 <a href="#" class="btn btn-primary" (click)="add(
                    reminderID.value,
                    reminderClient.value,  
                    reminderTask.value, 
                    reminderTime.value, 
                    reminderInfo.value,
                    'false'
                   
                    ); 
                      reminderClient.value=''; 
                      reminderTask.value=''; 
                      reminderTime.value=''; 
                      reminderInfo.value=''">
                    Add Task</a>
                 
               </div>
             </div>
         </div>

</div>

