<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><img src="./assets/careander.png"></a>
    </div>
  </div>
</div>


<div class="container">
<!-- 	<app-reminders></app-reminders> 
 -->
<!--	<app-clienten-bestand></app-clienten-bestand>  -->

<app-vaste-dagtaken></app-vaste-dagtaken>
 <!--	<app-reminders></app-reminders> 
	<app-vaste-dagtaken></app-vaste-dagtaken>
-->

</div>

 

<!--
<app-clienten-bestand></app-clienten-bestand>
<app-dashboard></app-dashboard>

-->




