<div class="container">
	<div class="row">
		<h2>Dagtaken</h2>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<ul class="taken">
  						<li *ngFor="let dagtaak of dagtaken"
    					[class.selected]="dagtaak === selectedDagtaak"
    					(click)="onSelect(dagtaak)" class="takenlijst" >
    						<span class="badge">{{dagtaak.t3itel | uppercase}}</span>
  						</li>

  						<!-- Hier moeten nog 2 li's komen voor de middag en avond taken -->
  						<!-- Dit is een verandering voor Git -->


					</ul>
				</div>	
			</div>
		</div>
	</div>
<br>
	<div class="row">
		<div class="col-md-12">
			<div *ngIf="selectedDagtaak" class="card">
				<div class="card-body">
					<h5 class="card-title">{{ selectedDagtaak.titel }}</h5>
					<ul class="list-group list-group-flush">
    					<li class="list-group-item"> {{selectedDagtaak.omschrijving}} </li>
   					</ul>
				</div>
			</div>
		</div>
	</div>
</div>