<div class="row">
  <div class="col-md-12">
    <p>Hier vind je een overzicht van alle vaste taken die je kan uitvoeren tijdens een dienst</p>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li  class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dagdienst</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Middagdienst</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Avonddienst</a>
      </li>
    </ul>
  </div>

    
</div>


<div class="row">
  <div class="col-md-12">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="col-md-12">
          <ul class="dagtaken">
              <li *ngFor="let dagdienst of Dagdienst">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ dagdienst.titel }}</h5>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">tijd: {{ dagdienst.tijd }} </li>
                      <li class="list-group-item"> {{ dagdienst.omschrijving }} </li>
                    </ul>
                  </div>
                </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="col-md-12">
          <ul class="dagtaken">
            <li *ngFor="let middagdienst of Middagdienst">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ middagdienst.titel }}</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">tijd: {{ middagdienst.tijd }} </li>
                    <li class="list-group-item"> {{ middagdienst.omschrijving }} </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="col-md-12">
          <ul class="dagtaken">
            <li *ngFor="let avonddienst of Avonddienst">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ avonddienst.titel }}</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">tijd: {{ avonddienst.tijd }} </li>
                    <li class="list-group-item"> {{ avonddienst.omschrijving }} </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>     
        </div>
      </div>
    </div>
  </div>
</div>
