<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-8 datum"> 
			<h2>20 april 2018</h2>
		</div>
		<div class="col-md-6 col-sm-4">
			<p>Welkom terug! Sarah Blotenburg</p>
		</div>
	</div>	
	<div class="row">
		
		<div class="col-md-6 col-sm-6 col-6 dashboard-item kaart">
			<div class="card dashboard">
  				<div class="card-body " routerLink="/clienten">
    				<h5 class="card-title" >Onze clienten</h5>
    				<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    				<!-- <p class="card-text">
    				Some quick example text to build on the card title and make up the bulk of the card's content.
    				</p> --> 
     				
  				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-6 dashboard-item kaart">
			<div class="card dashboard">
  				<div class="card-body " routerLink="/taken" >
    				<h5 class="card-title">TAKEN</h5>
    				<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    				<!-- <p class="card-text">
    				Some quick example text to build on the card title and make up the bulk of the card's content.
    				</p> -->
    				<!-- <a  class="card-link">Bekijk taken</a> -->
  				</div>
			</div>
		</div>
	</div>

	
</div>